<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.SolicitudMapper">
    
    <select id="cantidadCertificados" resultType="int" >
        select count(id)
        from Certificado
    </select>
    
    <insert parameterType="map" id="putCertificado" >    
        insert into Certificado values (#{codigo}, #{nombre},#{val})
    </insert>
    
     <select id="getCertificado"  resultMap="CertificadoResult">
        select id,Usuario_nombre,valido
        from Certificado
         where id=#{codigo} and valido="Ok"
    </select>
    
    <update parameterType="map" id="invalidarCertificado" >    
        update Certificado
        set valido="NoOk"
        where id=#{id}
    </update>
    
    <resultMap type='Solicitud' id='SolicitudResult'>
        <id property='fecha' column='fecha'/>
        <result property='numero_identificacion' column = 'Cedula_Numero'/>
        <result property = 'tipo_cedula' column = 'Cedula_Tipo' />
        <result property='tipo' column = 'tipo'/>
        <result property='estado' column = 'aprobado'/>
    </resultMap>
    
    <resultMap type='Certificado' id='CertificadoResult'>
        <id property='id' column='id'/>
        <result property='Usuario_nombre' column = 'Usuario_nombre'/>
        <result property='valido' column = 'valido'/>
    </resultMap>
    
    
    <resultMap type='Servicio' id='ServicioResult'>
        <id property='username' column='Usuario_nombre'/>
        <result property='tDeServicio' column = 'TdeServicio'/>
        <result property = 'fecha' column = 'Fecha' />
    </resultMap>
    
    <select id="consultarPagos" resultMap="PagoResult">
        select 	P.numeroFactura , P.Usuario_nombre , P.Tipo , P.foto , P.validacion, P.fechaRegistro, P.tipoTramite, I.nombre, I.apellido, I.Numero
        from Pagos P
	LEFT JOIN Usuario as U ON U.nombre= P.Usuario_nombre
        LEFT JOIN Datos_Egresado as I ON I.Cedula_Numero=U.identificacion
        where validacion='NoOk'
        order by fechaRegistro
    </select>
    
    <resultMap type='Pago' id='PagoResult'>
        <id property='id_pago' column='numeroFactura'/>
        <result property='Usuario_nombre' column = 'Usuario_nombre'/>
        <result property = 'tipo' column = 'Tipo' />
        <result property='foto' column = 'foto'/>
        <result property='validacion' column = 'validacion'/>
        <result property='fechaRegistro' column = 'fechaRegistro'/>
        <result property='tipoTramite' column = 'tipoTramite'/>
        <result property='nombrePersonal' column = 'nombre'/>
        <result property='apellidoPersonal' column = 'apellido'/>
        <result property='identificacionPersonal' column = 'Numero'/>
    </resultMap>
    
    <select id="consultarSolicitud" resultMap="SolicitudResult">
        select fecha , Cedula_Numero , Cedula_Tipo , tipo , aprobado
        from Solicitud 
        where aprobado='Pend'
        order by fecha
    </select>
    

        
    <resultMap type='Observacion' id='ObservacionResult'>
        <id property='numero_observacion' column='numero_observacion'/>
        <result property='Usuario_nombre' column = 'Usuario_nombre'/>
        <result property = 'comentario' column = 'comentario' />        
    </resultMap>       
       
     
    <resultMap type='Egresado' id='EgresadoResult'>
        <id property='numero_identificacion' column='Cedula_Numero'/>
        <result property='tipo_identificacion' column = 'Cedula_Tipo'/>
        <result property = 'nombre' column = 'nombre' />
        <result property='fecha_grado' column = 'anio_grado'/>
        <result property='periodo_grado' column = 'periodo_grado'/>
        <result property='cargo' column = 'cargo'/>
        <result property='direccion_vivienda' column = 'direccion_vivienda'/>
        <result property='nombreEmpresa' column = 'nombreEmpresa'/>
        <result property='direccionEmpresa' column = 'direccion_empresa'/>
        <result property='telefono_oficina' column = 'telefono_oficina'/>
        <result property='telefono_fijo' column = 'telefono_fijo'/>
        <result property='celular' column = 'celular'/>
        <result property='carrera' column = 'Programas_nombre'/>
        <result property='apellido' column = 'apellido'/>
        <result property='genero' column = 'genero'/>
        <collection property='correo' ofType='CorreoPersonal' columnPrefix="correo_" resultMap='CorreoPersonalResult' ></collection> 
    </resultMap>
    
    
     <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='numero_identificacion' column='Cedula_Numero'/>
        <result property='tipo_identificacion' column = 'Cedula_Tipo'/>
        <result property = 'codigo' column = 'codigo_estudiante' />
        <result property='nombre' column = 'nombre'/>
        <result property='semestre' column = 'semestre_ponderado'/>
        <result property='telefono_fijo' column = 'telefono_fijo'/>
        <result property='celular' column = 'celular'/>
        <result property='direccion_vivienda' column = 'direccion_vivienda'/>
        <result property='carrera' column = 'Programas_nombre'/>
         <result property='apellido' column = 'apellido'/>
        <result property='genero' column = 'genero'/>
        <collection property='correo' ofType='CorreoPersonal' columnPrefix="correo_" resultMap='CorreoPersonalResult' ></collection> 
    </resultMap>
    
    <resultMap type='CorreoPersonal' id='CorreoPersonalResult'>
        <id property='correo' column='correo'/> 
        <result property='cedula_numero' column = 'Cedula_Numero'/>
        <result property='cedula_tipo' column = 'Cedula_Tipo'/>
    </resultMap>
    
    
     <resultMap type='Usuario' id='UsuarioResult'>
        <id property='nombre' column='nombre'/> 
        <result property='clave' column = 'clave'/>
        <result property='tipo' column = 'tipo'/>
        <result property='estado' column = 'estado'/>
        <result property='cedula_numero' column = 'identificacion'/>
        <result property='cedula_tipo' column = 'tipo_identificacion'/>
        <result property='fechaInicio' column = 'fechaInicio'/>
        <result property='fechaFin' column = 'fechafin'/>
        <collection property='observaciones' ofType='Observacion' columnPrefix="observacion_" resultMap='ObservacionResult' ></collection> 
        <collection property='servicios_usados' ofType='Servicio' columnPrefix="servicio_" resultMap='ServicioResult' ></collection> 
        <collection property='pagos' ofType='Pago' columnPrefix="pagos_" resultMap='PagoResult' ></collection> 
     </resultMap>
     
         
    <select id="consultarAfiliacion" resultMap="UsuarioResult">
	select U.nombre,U.clave,U.tipo,U.estado,U.identificacion,U.tipo_identificacion,U.fechainicio,U.fechafin,UC.Usuario_nombre as servicio_Usuario_nom, UC.TdeServicio as servicio_TdeServicio, UC.Fecha as servicio_Fecha, P.numeroFactura as pagos_numeroFactura, P.Usuario_nombre as pagos_Usuario_nombre,
        P.Tipo as pagos_Tipo, P.validacion as pagos_validacion, O.numero_observacion as  observacion_numero_observacion, O.Usuario_nombre as observacion_Usuario_nombre, O.comentario as observacion_comentario
        from Usuario as U LEFT JOIN Usos_Convenios as UC ON UC.Usuario_nombre=U.nombre LEFT JOIN observacion as O on O.Usuario_nombre=U.nombre LEFT JOIN Pagos as P ON P.Usuario_nombre=U.nombre
        where (DAY(U.fechafin) - DAY(SYSDATE())) BETWEEN 0 AND 30
        AND YEAR(SYSDATE()) = YEAR(U.fechafin)
        AND MONTH(SYSDATE()) = MONTH(U.fechafin)
    </select>
        
    
    
    <select id="consultarEstudiante" resultMap="EstudianteResult">
        SELECT DE.Cedula_Numero,DE.Cedula_Tipo,DE.codigo_estudiante,DE.nombre,DE.semestre_ponderado,DE.telefono_fijo,DE.celular,DE.direccion_vivienda,DE.Programas_nombre,DE.genero,DE.apellido,C.correo as correo_correo, C.Cedula_Numero as correo_Cedula_Numero, C.Cedula_Tipo as correo_Cedula_Tipo 
        FROM Datos_Estudiante as DE
        LEFT JOIN Identificacion as I ON I.Numero= DE.Cedula_Numero
        LEFT JOIN correo as C ON C.Cedula_Numero=I.Numero
        WHERE DE.Cedula_Numero=#{id} and DE.Cedula_Tipo=#{tipoid}
    </select>
    
    
    <select id="consultarEgresado" resultMap="EgresadoResult">
        SELECT DE.Cedula_Numero,DE.Cedula_Tipo,DE.nombre,DE.anio_grado,DE.periodo_grado,DE.cargo,DE.direccion_vivienda,DE.nombreEmpresa,DE.direccion_empresa,DE.telefono_oficina,DE.telefono_fijo,DE.celular,DE.Programas_nombre,DE.genero,DE.apellido,C.correo as correo_correo, C.Cedula_Numero as correo_Cedula_Numero, C.Cedula_Tipo as correo_Cedula_Tipo
        FROM Datos_Egresado as DE
        LEFT JOIN Identificacion as I ON I.Numero= DE.Cedula_Numero
        LEFT JOIN correo as C ON C.Cedula_Numero=I.Numero
        WHERE DE.Cedula_Numero=#{id} and DE.Cedula_Tipo=#{tipoid}
    </select>
    
    <select id="getUsuario" resultMap="UsuarioResult">
        select U.nombre,U.clave,U.tipo,U.estado,U.identificacion,U.tipo_identificacion,U.fechainicio,U.fechafin,UC.Usuario_nombre as servicio_Usuario_nom, UC.TdeServicio as servicio_TdeServicio, UC.Fecha as servicio_Fecha, P.numeroFactura as pagos_numeroFactura, P.Usuario_nombre as pagos_Usuario_nombre,
        P.Tipo as pagos_Tipo, P.validacion as pagos_validacion, O.numero_observacion as  observacion_numero_observacion, O.Usuario_nombre as observacion_Usuario_nombre, O.comentario as observacion_comentario
        from Usuario as U LEFT JOIN Usos_Convenios as UC ON UC.Usuario_nombre=U.nombre LEFT JOIN observacion as O on O.Usuario_nombre=U.nombre LEFT JOIN Pagos as P ON P.Usuario_nombre=U.nombre
        where U.nombre=#{un}
    
    </select>
    
    <insert parameterType="map" id="InsertarUsuario" >    
        insert into Usuario values(#{u.nombre},#{u.clave},#{u.tipo},#{u.estado},#{u.cedula_numero},#{u.cedula_tipo},#{u.fechaInicio},#{u.fechaFin})
    </insert>
    
    <update parameterType="map" id="ModificarSolicitud" >    
        update Solicitud
        set aprobado=#{u}
        where Cedula_Numero=#{ced} and Cedula_Tipo=#{tic} 
    </update>
   
    <insert parameterType="map" id="insertarIdentificacion" >    
        insert into Identificacion values (#{id}, #{tipoid})
    </insert>
   
    <insert parameterType="map" id="insertarDatosEstudiante" >    
        insert into Datos_Estudiante values (#{est.numero_identificacion}, #{est.tipo_identificacion}, #{est.codigo}, #{est.nombre}, #{est.semestre},#{est.telefono_fijo}, #{est.celular}, #{est.direccion_vivienda}, #{est.carrera},#{est.genero},#{est.apellido})
    </insert>
   
    <insert parameterType="map" id="insertarSolicitud" >    
        insert into Solicitud values(#{sol.fecha}, #{sol.numero_identificacion}, #{sol.tipo_cedula}, #{sol.tipo}, #{sol.estado})
    </insert>
   
    <insert parameterType="map" id="insertarDatosEgresado" >                    
        insert into Datos_Egresado values(#{egr.numero_identificacion}, #{egr.tipo_identificacion}, #{egr.nombre}, #{egr.fecha_grado}, #{egr.periodo_grado}, #{egr.cargo}, #{egr.direccion_vivienda},#{egr.nombreEmpresa},#{egr.direccionEmpresa},#{egr.telefono_oficina},#{egr.telefono_fijo},#{egr.celular},#{egr.programa},#{egr.genero},#{egr.apellido} );
    </insert>
    
    <insert parameterType="map" id="insertarCorreoEstudiante" >                    
        insert into correo values(#{cor}, #{est.numero_identificacion}, #{est.tipo_identificacion});
    </insert>
    
    <insert parameterType="map" id="insertarCorreoEgresado" >                    
        insert into correo values(#{correo}, #{egr.numero_identificacion}, #{egr.tipo_identificacion});
    </insert>

   
</mapper>