<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    <typeAliases>
    <typeAlias type='edu.eci.pdsw.samples.entities.Estudiante' alias='Estudiante'/>
    <typeAlias type='edu.eci.pdsw.samples.entities.Egresado' alias='Egresado'/>
    <typeAlias type='edu.eci.pdsw.samples.entities.Solicitud' alias='Solicitud'/>
    <typeAlias type='edu.eci.pdsw.samples.entities.CorreoPersonal' alias='CorreoPersonal'/>
    </typeAliases> 
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/pdswgr3" />
                <property name="username" value="pdswgr3" />
                <property name="password" value="pdswg303" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/EgresadoMapper.xml"></mapper>
        <mapper resource="mappers/SolicitudMapper.xml"></mapper>
    </mappers> 
</configuration>
